#alefa{
    width: 300px;
    height: 215px;
    margin-top: -20.2cm;
    float: left;
}
#merci{
    width: 300px;
    height: 215px;
    margin-top: -20.2cm;
    float: right;
}
ul{
  margin-left: 300px;
  background-color: #923c3c;
  border-radius: 15px; 
  width: 56%; 
}

li{
    color:white ;
    display: inline-block;
    text-align: center;
    padding: 15px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: -10px;
}
li a:hover{
    background-color: brown;
}
#photo{
    width: 700px;
    height: 330px;
    border-radius: 15px;
    float: initial;
    margin-left: -9cm;
}
section{
    border: 1px solid black;
    width: 300px;
    float: left;
    border-radius: 15px;
    padding: 5px;
    background-color: wheat;
    color: black;
}
h2{
    color: brown;
}
#div1{
   background-color: brown;
   background-size: 100%;
   height: 12cm;
   background-repeat: no-repeat;
   margin-top: -0.5cm;
}
#section1{
    width: 160px;
    height: 200px;
    margin-left: 3.5cm;
    margin-top: 10cm;
}
#section1 p{
    margin-left: 20px;
}
#section1 h2{
    margin-left: 0.5cm;
}
#section2{
    width: 165px;
    height: 200px;
    margin-left: 0.2cm;
    margin-top: 10cm;
}
#section2 p{
    margin-left: 20px;
}
#section3{
    width: 160px;
    height: 200px;
    margin-left: 0.5cm;
    margin-top: 1.2cm;
}
#section3 p{
    margin-left: 20px;
}
#aeeni{
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-top: -1.7cm;
    float: left;
    margin-left: 0.5cm;
}
#section4{
    width: 290px;
    height: 430px;
    margin-top: 1cm;
    float: left;
    margin-left: 4cm;
}
#section7{
    width: 160px;
    height: 200px;
    margin-top: -5.7cm;
    float: right;
    margin-right: 8cm;
}
#section7{
    margin-left: 20px;
}
#section5{
    width: 280px;
    height: 430px;
    margin-left: 1cm;
    margin-top: 1cm;
}
#section6{
    width: 290px;
    height: 430px;
    margin-left: 20px;
    margin-top: 1cm;
}
#section6 p{
    margin-left: 0.5cm; 
}
p{
    font-size: 15px;
}
#club{
    width: 290px;
    height: 200px;
    border-radius: 10px;
    margin-top: -1cm;
}
#div3{
    background-color: brown;
    border-radius: 15px;
    background-size: 100%;
    height: 20cm;
}
#facebook{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-top: 0.5cm;
}
#instagram{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-top: 0.5cm;
}
#mail{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-top: 0.5cm;
}
#twitter{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-top: 0.5cm;
}
#image{
    margin-left: 24cm;
    float: right;
    margin-top: -0.1cm;
}
#copy{
    background-color: gray;
    width: 100%;
    height: 1.5cm;
    margin-top: -2cm;
    border-radius: 15px;
} 
#copy p{
    font-size: 24px;
    margin-left: 1cm;
    padding-top: 13px;
}
body{
    background-color: white;
}
#im{
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-top: -1.7cm;
    float: right;   
}

@media only screen and (min-width:1500PX){
    ul{
        margin-left: 300px;
        background-color: brown;
        border-radius: 15px; 
        width: 50%; 
      }
      li{
          color:white ;
          display: inline-block;
          text-align: center;
          padding: 15px;
      }
      li a{
          text-decoration: none;
          color: white;
          font-size: 25px;
          margin-left: -10px;
      }
      li a:hover{
        background-color: chocolate;
      }
      #photo{
          width: 700px;
          height: 330px;
          border-radius: 15px;
          float: initial;
          margin-left: -16cm;
      }
      #alefa{
        width: 340px;
        height: 250px;
        margin-top: -20.2cm;
      }
      #merci{
        width: 320px;
        height: 250px;
        margin-top: -20.2cm;
        float: right;
        margin-left: 6cm;
      }
      section{
          border: 1px solid black;
          width: 300px;
          float: left;
          border-radius: 15px;
          padding: 5px;
          background-color: wheat;
          color: black;
      }
      h2{
          color: brown;
      }
      #div1{
         background-color: brown;
         background-size: 100%;
         height: 12cm;
         background-repeat: no-repeat;
         margin-top: -0.5cm;
      }
      #section1{
          width: 190px;
          height: 200px;
          margin-left: cm;
          margin-top: 10cm;
      }
      #section1 p{
          margin-left: 20px;
      }
      #section1 h2{
          margin-left: 0.5cm;
      }
      #section2{
          width: 165px;
          height: 200px;
          margin-left: 0.5cm;
          margin-top: 10cm;
      }
      #section2 p{
          margin-left: 20px;
      }
      #section3{
          width: 190px;
          height: 200px;
          margin-left: 0.3cm;
          margin-top: 10cm;
      }
      #section3 p{
          margin-left: 20px;
      }
      #aeeni{
          width: 180px;
          height: auto;
          border-radius: 15px;
          margin-top: -1.7cm;
          float: left;
          margin-left: 0.9cm;
      }
      #section4{
          width: 300px;
          height: 430px;
          margin-top: 1cm;
          float: left;
          margin-left: 6cm;
      }
      #section7{
          width: 160px;
          height: 200px;
          margin-top: 1.2cm;
          float: right;
          margin-right: 8.9cm;
      }
      #section7 p{
          margin-left: 20px;
      }
      #section5{
          width: 300px;
          height: 430px;
          margin-left: 0.3cm;
          margin-top: 1cm;
      }
      #section6{
          width: 300px;
          height: 430px;
          margin-left: 30px;
          margin-top: 1cm;
      }
      #section6 p{
          margin-left: 0.5cm; 
      }
      p{
          font-size: 15px;
      }
      #club{
          width: 300px;
          height: 200px;
          border-radius: 10px;
          margin-top: -1cm;
      }
      #div3{
          background-color: brown;
          border-radius: 15px;
          background-size: 100%;
          height: 20cm;
      }
      #facebook{
          width: 50px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #instagram{
          width: 50px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #mail{
          width: 50px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #twitter{
          width: 50px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #image{
          margin-left: 26cm;
          float: right;
          margin-top: -0.1cm;
      }
      #copy{
          background-color: gray;
          width: 100%;
          height: 1.5cm;
          margin-top: -2cm;
          border-radius: 15px;
      } 
      #copy p{
          font-size: 24px;
          margin-left: 1cm;
          padding-top: 13px;
      }
      body{
          background-color: brown;
      }
      #im{
          width: 100px;
          height: auto;
          border-radius: 15px;
          margin-top: -1.7cm;
          float: right;   
      }   
}
@media only screen and (max-width:1360px){
    ul{
        margin-left: 300px;
        background-color: brown;
        border-radius: 15px; 
        width: 55%; 
      }
      li{
          color:white ;
          display: inline-block;
          text-align: center;
          padding: 15px;
      }
      li a{
          text-decoration: none;
          color: white;
          font-size: 18px;
          margin-left: -10px;
      }
      li a:hover{
        background-color: chocolate;
      }
      #photo{
          width: 600px;
          height: 300px;
          border-radius: 15px;
          float: initial;
          margin-left: -7cm;
      }
      section{
          border: 1px solid black;
          width: 300px;
          float: left;
          border-radius: 15px;
          padding: 5px;
          background-color: wheat;
          color: black;
          font-size: 15px;
      }
      h2{
          color: brown;
          font-size: 20px;
      }
      #div1{
         background-color: brown;
         background-size: 100%;
         height: 12cm;
         background-repeat: no-repeat;
         margin-top: -0.5cm;
      }
      #section1{
          width: 130px;
          height: 200px;
          margin-left: 0.3cm;
          margin-top: 9cm;
      }
      #section1 p{
          margin-left: 20px;
          font-size: 15px;
      }
      #section1 h2{
          margin-left: 0.5cm;
      }
      #section2{
          width: 140px;
          height: 200px;
          margin-left: 1.3cm;
          margin-top: 9cm;
      }
      #section2 p{
          margin-left: 20px;
      }
      #section3{
          width: 130px;
          height: 200px;
          margin-left: 1.5cm;
          margin-top: 1cm;
      }
      #section3 p{
          margin-left: 20px;
      }
      #aeeni{
          width: 150px;
          height: auto;
          border-radius: 15px;
          margin-top: -1.7cm;
          float: left;
          margin-left: 0.2cm;
      }
      #section4{
          width: 260px;
          height: 410px;
          margin-top: 1cm;
          float: left;
          margin-left: 2cm;
      }
      #section7{
          width: 130px;
          height: 200px;
          margin-top: 1cm;
          float: right;
          margin-right: 5cm;
      }
      #section7{
          margin-left: 20px;
      }
      #alefa{
        width: 170px;
        height: 150px;
        margin-top: -20cm;
      }
      #merci{
        width: 170px;
        height: 150px;
        margin-top: -20cm;
        float: right;
        margin-left: 6cm;
      }
      #section5{
          width: 270px;
          height: 410px;
          margin-left: 1cm;
          margin-top: 1cm;
      }
      #section6{
          width: 260px;
          height: 410px;
          margin-left: 20px;
          margin-top: 1cm;
      }
      #section6 p{
          margin-left: 0.5cm; 
      }
      p{
          font-size: 15px;
      }
      #club{
          width: 260px;
          height: 150px;
          border-radius: 10px;
          margin-top: -1cm;
          padding-top: 15px;
      }
      #div3{
          background-color: brown;
          border-radius: 15px;
          background-size: 100%;
          height: 20cm;
      }
      #facebook{
          width: 40px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #instagram{
          width: 40px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #mail{
          width: 40px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #twitter{
          width: 40px;
          height: auto;
          border-radius: 50px;
          margin-top: 0.5cm;
      }
      #image{
          margin-left: 18cm;
          float: right;
          margin-top: 0.3cm;
      }
      #copy{
          background-color: gray;
          width: 100%;
          height: 1.5cm;
          margin-top: -3.5cm;
          border-radius: 15px;
      } 
      #copy p{
          font-size: 22px;
          margin-left: 1cm;
          padding-top: 13px;
      }
      body{
          background-color: brown;
      }
      #im{
          width: 150px;
          height: auto;
          border-radius: 15px;
          margin-top: -1.7cm;
          float: right;   
      }
         
}