#c3lf{
    width: 14cm;
    height: 12cm;
}

p{
    padding: 10px;
    border: 5px;
    width: 10cm;
    float: right;
    margin-top: -10cm;
    font-size: 30px;
}

button{
    background-color: darkslategray;
    margin-left: 10cm;
    border-radius: 10px;
}

button a{
    color: #FFFF;
    font-size: 30px;
    text-decoration: none;
}

.parag{
    width: 6cm;
    height: 8cm;
}
@media screen and (max-width : 1300px) {
     *{
        width: 60%;
     }
     button{
        width: 20%;
        height: 6%;
    }
    body{
        padding: -20%;
    }
}