h1 {
    margin: 50px;
}
body {
   
    background-color: #390c0c;
}
#eni{
    width: 111px;
    height: 50%;

}


#rcorners1 {
border-radius: 50px;
background: #630808e7;
padding: 30px; 
width: 200px;
height: 4px;  
align-items:center;
display:inline-block;
}

#TT{

width: 302px ;
margin-left: 830px;
margin-top: -310px;
}
div{
 font-size: 33px;
 width: 68%;
}
#stop {
background-color: #c6c0c075;
border-radius: 15px;
height: 2.5cm;
width: 100%;
margin-top: 1.5cm;
text-align: center;
}
#stop p{
    font-size: 30px;
    padding: 5px;
    padding-left: 3cm;
    font-size:33px;
}
#sary{
    font-size: 30px;
    padding: 5px;
    padding-left: 17cm;
    margin-top: -4cm;
    ;
}
#mail{
    font-size: 30px;
    padding: 5px;
    padding-left: 32cm;
    margin-top: -4cm;
    ;
}
