body {
    background-color: rgb(191, 194, 194);
}

p {
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    color: rgb(16, 127, 179);
}

#image1 {
    margin-left: 900px;
}

#image2 {
    margin-left: 600px;
}

#image3 {
    margin-top: -380px;
    margin-left: 300px;
}