body{
    font: 16px arial;
    background-color: orange;
}

#menuderoulant{
    height: 62px;
    list-style: none;
    margin: 40px;
    padding: 10px;
}
#menuderoulant li{
    float: left;
    width: 200px;
}
#menuderoulant li a:link ,#menuderoulant li a:visited{
    background-color: brown;
    color: white;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    border-right: 1px solid white;
    text-align: center;
}
#menuderoulant li a:hover{
    background-color: rgb(221, 91, 10);
}
#menuderoulant li a:active{
    background-color: chocolate;
}

#menuderoulant #sous-menu{
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
#menuderoulant #sous-menu li{
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    float: none;
}
#menuderoulant #sous-menu li a:link , #menuderoulant #sous-menu li a:visited{
    display: block;
    text-decoration: none;
    color: white;
    background-color: darkslategray;
}
#menuderoulant #sous-menu li a:hover{
   background-color: rgb(7, 6, 9);
}
#menuderoulant li:hover #sous-menu{
    display: block;
}