body {
    font-size: 25px;
    font-style: italic;
    background-color: rgb(238, 244, 244);
    text-align: center;
}

#responsable {
    border: 3px inset brown;
    width: 7cm;
    height: 12cm;
    background-color: white;
    border-radius: 9px;
    margin-left: 3cm;
    display: inline-block;
    color: rgb(10, 11, 12);
    background-image: url("image/lights.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#responsable:hover {
    background-color: chocolate;
    font-size: 25px;
    width: 400px;
    height: 450px;
    color: aliceblue;
}

h1 {
    text-decoration: underline;
    color: chocolate;
}

h2 {
    text-decoration: underline;
    color: rgb(12, 14, 11);
}

@media only screen and (max-width: 1250px) {
    #responsable {
        width: 20px;
        font-size: 3px;
        height: 1cm;
    }
}